body {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

main {
  margin-top: 100px;
}

div {
  margin: 200px 300px;
}

div h1 {
  color: indianred;
  overflow: hidden;
  border-right: 3px solid black;
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em;
  animation: typing 8s steps(25, end) infinite, border-typing 0.5s infinite;
  /*steps(n, jumpterms) method is a timing function in animation property that divides an animation into n steps, displaying each step at equal intervals of time. 
  n: Number of divisions between the start and stop of the animation.
  jumpterm: It indicates the behavior of the steps function
  end = indicates the last division ends  when the animation ends*/
}

div h2 {
  color: cornflowerblue;
  margin: 0 auto;
  opacity: 0;
  overflow: hidden;
  font-size: 2rem;
  white-space: nowrap; /* Keeps the content on a single line */
  /* animation: gradual-appear 8s steps(25, end); */
}

div h2:nth-child(1) {
  animation: gradual-appear 5s steps(25, end) infinite;
}
div h2:nth-child(2) {
  animation: gradual-appear 1s steps(25, end) infinite;
  animation-delay: 3s;
}
div h2:nth-child(3) {
  animation: gradual-appear 5s steps(25, end) infinite;
  animation-delay: 6s;
}
div h2:nth-child(4) {
  animation: gradual-appear 1s steps(25, end) infinite;
  animation-delay: 9s;
}
div h2:nth-child(5) {
  animation: gradual-appear 5s steps(25, end) infinite;
  animation-delay: 12s;
}

@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 72%;
  }
}

@keyframes border-typing {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}

@keyframes gradual-appear {
  0% {
    width: 0%;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 10%;
    opacity: 1;
  }
}
